.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-fast {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fade-in-up {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fade-in-down {
  animation-name: fadeInDown;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fade-in-left {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fade-in-right {
  animation-name: fadeInRight;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInModal {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadeInUpModal {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeOutDownModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110%);
  }
}
@keyframes zoomOutModal {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
  100% {
    opacity: 0;
  }
}
@keyframes animationX {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 52px);
  }
  100% {
    left: 0;
  }
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}

@keyframes skeleton-progress {
  0% {
    left: -500px;
  }
  to {
    left: 100%;
  }
}
@keyframes hover-back {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}