$gc-800: #007731;
$gc-600: #009a48;
$gc-400: #45b66b;
$gc-100: #bfe4c9;
$gc-850: #00a80c;
$gc-800: #008500;
$gc-810: #008c00;
$g-500: #11b719;
$g-300: #70ce6a;
$g-100: #c4e9c0;
$g-50: #d7f4d4;
$g-25: #f3fef2;

$gc-800: #007731;
$gc-600: #009a48;
$g-800: #009600;

$gb-500: #f5fdf4;

$orange-900: #fc7221;
$orange-700: #ffa125;
$orange-400: #ffc93b;
$orange-100: #ffecb6;

$black-900: #000000;
$black-800: #181818;
$black-750: #0d0d0d;
$black-700: #434343;
$black-600: #555555;
$black-500: #7b7b7b;
$black-400: #9d9d9d;
$black-300: #c4c4c4;
$black-200: #d9d9d9;
$black-100: #e9e9e9;
$black-70: #9d9d90;
$black-60: #e4e4e4;
$black-50: #f5f5f5;
$black-60: #e4e4e4;
$white: #ffffff;

$error-800: #e70000;
$warning-400: #fac400;
$success-500: #00c000;
$information-600: #008cff;

$cyan-900: #0d4e97;
$cyan-700: #227bc8;
$cyan-400: #4ea9ea;
$cyan-100: #bde0f7;

$teal-900: #18626d;
$teal-700: #2c98b3;
$teal-400: #43c8e8;
$teal-100: #b6ebf9;

$red-900: #bf0100;
$red-700: #da2417;
$red-400: #f64d3d;
$red-100: #ffcbcd;

$golden-900: #af611e;
$golden-700: #c28128;
$golden-400: #d2a644;
$golden-100: #eddeb8;

$brown-900: #342c2a;
$brown-700: #776e6c;
$brown-400: #d5cac8;
$brown-100: #fff5f2;

$gray2: #e6e6e6;
$gray3: #676767;
$gray4: #898989;
$gray5: #5e5e5e;

$w-900: #fc6500;
$w-400: #fac400;
$w-200: #fcdc7a;
$w-100: #fdeaae;

$e-900: #cf0000;
$e-800: #e70000;
$e-400: #ff5637;
$e-100: #ffc7b8;

$s-900: #006e00;
$s-700: #009e00;
$s-100: #c5ecbf;

$i-900: #1348ba;
$i-600: #008cff;
$i-400: #32aaff;
$i-100: #bbe0ff;

$o-100: #ffebb6;
$o-900: #fc7121;

$y-900: #fece49;

$villas: #e00328;
$bogota: #0e43a0;
$occidente: #0081ff;
$facil: #0062ab;
$porvenir: #ff8d00;

$black-100-rgba: rgba(233, 233, 233, 0.5);
$black-32-rgba: rgba(245, 245, 245, 0.32);
